<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Sistema Catastral</h3>
        </div>

        <ul class="list-unstyled components">

            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle" aria-controls="collapse30" data-parent="#accordionEx5">Layers</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li style="margin-left: 50px;">
                        <input type="radio" checked class="OSM" name="gender" value="OSM" (change)="handleVisibleBaseLayer(0)">
                        <label for="OSM">OSM</label><br>
                        <input type="radio" id="Terrain" name="gender" value="Terrain" (change)="handleVisibleBaseLayer(1)">
                        <label for="Terrain">Terrain</label><br>
                        <input type="radio" id="Stamen" name="gender" value="Stamen" (change)="handleVisibleBaseLayer(2)">
                        <label for="Stamen">Stamen</label>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Capas</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li style="margin-left: 50px;">
                        <input type="checkbox" id="basemap" name="basemap" checked value="Mapa Base" setVisibleOverlay (change)='handleCheckedOverlayLayers($event)'>
                        <label for="basemap"> Mapa Base</label><br>

                        <input type="checkbox" id="zonacatastral" name="zonacatastral" checked value="Zona Catastral" setVisibleOverlay (change)='handleCheckedOverlayLayers($event)'>
                        <label for="zonacatastral"> Zona Catastral</label><br>

                        <input type="checkbox" id="localidad" name="localidad" checked value="localidad" setVisibleOverlay (change)='handleCheckedOverlayLayers($event)'>
                        <label for="localidad"> Localidad</label><br>

                        <input type="checkbox" id="sectores" name="sectores" checked value="Sectores" setVisibleOverlay (change)='handleCheckedOverlayLayers($event)'>
                        <label for="sectores"> Sectores</label><br>

                        <input type="checkbox" id="asentamientos" name="asentamientos" checked value="Asentamientos" setVisibleOverlay (change)='handleCheckedOverlayLayers($event)'>
                        <label for="asentamientos"> Asentamientos</label><br>

                        <input type="checkbox" id="Vialidad" name="Vialidad" checked value="Vialidad" setVisibleOverlay (change)='handleCheckedOverlayLayers($event)'>
                        <label for="Vialidad"> Vialidad</label><br>

                        <input type="checkbox" id="Manzanas" name="Manzanas" checked value="Manzanas" (change)='handleCheckedOverlayLayers($event)'>
                        <label for="Manzanas"> Manzanas</label><br>

                        <input type="checkbox" id="Predios" name="Predios" checked value="Predios" (change)='handleCheckedOverlayLayers($event)'>
                        <label for="Predios">Predios</label><br>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#vectorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Vector</a>
                <ul class="collapse list-unstyled" id="vectorSubmenu">
                    <li style="margin-left: 25px; margin-top: 25px;">
                        <input type="text" id="fname" name="fname" #cta_orig><br>
                    </li>
                    <li style="margin-left: 75px;  margin-top: 25px;">
                        <button type="button" class="btn btn-success" (click)='handleClickEvent(cta_orig.value)'>Primary</button>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#measureSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Measure Options</a>
                <ul class="collapse list-unstyled" id="measureSubmenu">
                    <li style="margin-left: 25px; margin-top: 25px;">
                        <label for="type">Measurement type &nbsp;</label>
                        <select id="type" #type>
                          <option value="length">Length (LineString)</option>
                          <option value="area">Area (Polygon)</option>
                        </select>
                    </li>
                    <li style="margin-left: 75px;  margin-top: 25px;">
                        <button type="button" class="btn btn-success" (click)='handleClickMeasureButton(type.value)'>Trazar</button>
                    </li>
                    <!-- <li style="margin-left: 75px;  margin-top: 25px;">
                        <button type="button" class="btn btn-success" (click)='BackClickButton()'>Regresar</button>
                    </li>
                    <li style="margin-left: 75px;  margin-top: 25px;">
                        <button type="button" class="btn btn-success" (click)='NextClickButton()'>Siguiente</button>
                    </li> -->
                </ul>
            </li>
            <li>
                <a href="#ToolSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tool Options</a>
                <ul class="collapse list-unstyled" id="ToolSubmenu">
                    <li style="margin-left: 75px; margin-top: 25px;">
                        <button type="button" class="btn btn-success" (click)='NextClickButton()'>Siguiente</button>
                    </li>
                    <li style="margin-left: 75px;  margin-top: 25px;">
                        <button type="button" class="btn btn-success" (click)='BackClickButton()'>Regresar</button>
                    </li>
                </ul>
            </li>
        </ul>


    </nav>

    <!-- Page Content  -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
        </button>
        <!-- 
      AQUI VA EL MAPA
      -->
        <!-- <ng-content></ng-content> -->

        <app-map #mymap></app-map>


    </div>
</div>